<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="exampleModalLongTitle"><%=titulo%></h2>
			</div>

			<%if(locals.edit){%>
			<form id="empleadoForm" action="/empleado/update/<%=locals.e.id%>" method="POST" role="form">
				<%} else {%>
				<form id="empleadoForm" action="/empleado/create" method="POST" role="form">
					<%}%>
					<div class="modal-body">

						<div class="form-group">
							<label>Cedula</label>
							<input id="cedula" class="form-control" name="cedula" <%if(locals.edit || locals.show){%> value="<%=locals.e.ci%>" <%}%> <%if(locals.show){%> readonly <%}%> >
						</div>

						<div class="form-group">
							<label>Nombre</label>
							<input id="nombre" class="form-control" name="nombre" <%if(locals.edit || locals.show){%> value="<%=locals.e.nombre%>" <%}%> <%if(locals.show){%> readonly <%}%> >
						</div>

						<div class="form-group">
							<label>Apellido</label>
							<input id="apellido" class="form-control" name="apellido" <%if(locals.edit || locals.show){%> value="<%=locals.e.apellido%>" <%}%> <%if(locals.show){%> readonly <%}%> >
						</div>

						<div class="form-group">
							<label>Edad</label>
							<input id="edad" class="form-control" name="edad" <%if(locals.edit || locals.show){%> value="<%=locals.e.edad%>" <%}%> <%if(locals.show){%> readonly <%}%> >
						</div>

						<div class="form-group">
							<label>Telefono</label>
							<input id="telefono" class="form-control" name="telefono" <%if(locals.edit || locals.show){%> value="<%=locals.e.telefono%>" <%}%> <%if(locals.show){%> readonly <%}%> >
						</div>

						<div class="form-group">
							<label>Farmacia</label>
							<select name="id_farmacia" class="form-control">

								<%if(locals.edit || locals.show){%> 
								<option value="<%=locals.e.farmacia.id%>" ><%=locals.e.farmacia.nombre%></option>
								<%} else {%>
								<option value="">Elija un farmacia...</option>
								<%}%>

								<%farmacias.forEach(f => {%>
								<option value="<%=f.id%>"><%=f.nombre%></option>
								<%});%>
							</select>
						</div>

						<div class="form-group">
							<label>Cargo</label>
							<select name="id_cargo" class="form-control">

								<%if(locals.edit || locals.show){%> 
								<option value="<%=locals.e.cargo.id%>" ><%=locals.e.cargo.descripcion%></option>
								<%} else {%>
								<option value="" >Elija un cargo...</option>
								<%}%>

								<%cargos.forEach(c => {%>
								<option value="<%=c.id%>"><%=c.descripcion%></option>
								<%});%>
							</select>
						</div>

					</div>


					<%if(!locals.show){%>
					<div class="modal-footer">
						<%if(locals.edit){%>
						<a href="/empleado" class="btn btn-danger"><b>X</b></a>
						<%} else {%>
						<button type="button" class="btn btn-danger" data-dismiss="modal"><b>X</b></button>
						<%}%>
						<button type="reset" class="btn btn-warning"><i class="fa fa-home"></i></button>
						<button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i></button>
					</div>
					<%} else {%>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal"><b>X</b></button>
					</div>
					<%}%>

				</form>
			</div>
		</div>
	</div>