<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="exampleModalLongTitle"><%=titulo%></h2>
			</div>

			<%if(locals.edit){%>
			<form id="empF" action="/empleado/update/<%=locals.e.id%>" method="POST" role="form">
				<%} else {%>
				<form id="empF" action="/empleado/create" method="POST" role="form">
					<%}%>
					<div class="modal-body">

						<div class="form-group">
							<label>Cedula</label>
							<input id="cedula" class="form-control" name="cedula" <%if(locals.edit){%> value="<%=locals.e.cedula%>" <%}%>>
						</div>

						<div class="form-group">
							<label>Nombre</label>
							<input id="nombre" class="form-control" name="nombre" <%if(locals.edit){%> value="<%=locals.e.nombre%>" <%}%> >
						</div>

						<div class="form-group">
							<label>Apellido</label>
							<input id="apellido" class="form-control" name="apellido" <%if(locals.edit){%> value="<%=locals.e.apellido%>" <%}%> >
						</div>

						<div class="form-group">
							<label>Edad</label>
							<input id="edad" class="form-control" name="edad" <%if(locals.edit){%> value="<%=locals.e.edad%>" <%}%> >
						</div>

						<div class="form-group">
							<label>Telefono</label>
							<input id="telefono" class="form-control" name="telefono" <%if(locals.edit){%> value="<%=locals.e.telefono%>" <%}%> >
						</div>

						<div class="form-group">
							<label>Farmacia</label>
							<select name="id_farmacia" class="form-control">
								<option default>Elija un farmacia...</option>
								<%farmacias.forEach(f => {%>
								<option value="<%=f.id%>"><%=f.nombre%></option>
								<%});%>
							</select>
						</div>

						<div class="form-group">
							<label>Cargo</label>
							<select name="id_cargo" class="form-control">
								<option default >Elija un cargo...</option>
								<%cargos.forEach(c => {%>
								<option value="<%=c.id%>"><%=c.descripcion%></option>
								<%});%>
							</select>
						</div>

					</div>

					<div class="modal-footer">
						<%if(locals.edit){%>
						<a href="/farmacia" class="btn btn-danger"><b>X</b></a>
						<%} else {%>
						<button type="button" class="btn btn-danger" data-dismiss="modal"><b>X</b></button>
						<%}%>
						<button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i></button>
					</div>

				</form>
			</div>
		</div>
	</div>